# Entornos virtuales
.env_xgboost/
env/
venv/
.venv/
taller_env/

# Python caches
__pycache__/
.pytest_cache/

# Archivos de Datos y Modelos (Vivirán en Google Cloud Storage)
*.onnx
*.csv
*.pyc

# Llaves secretas locales si las hubiere
